In [3]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [71]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/US_Accidents_Dec20.csv')

In [72]:
len(data)

4232541

In [73]:
data['Severity'].unique()

array([3, 2, 1, 4])

# fill missing data

In [74]:
# check missing data percentage
((data.isna().sum()/len(data))*100).sort_values(ascending = False)

End_Lat                  64.180760
End_Lng                  64.180760
Number                   63.506745
Precipitation(in)        48.802575
Wind_Chill(F)            44.795809
TMC                      35.819240
Wind_Speed(mph)          11.324781
Visibility(mi)            2.331176
Weather_Condition         2.324443
Humidity(%)               2.255548
Temperature(F)            2.124020
Wind_Direction            1.975433
Pressure(in)              1.804684
Weather_Timestamp         1.480057
Airport_Code              0.212000
Timezone                  0.109036
Zipcode                   0.030525
Nautical_Twilight         0.003331
Astronomical_Twilight     0.003331
Civil_Twilight            0.003331
Sunrise_Sunset            0.003331
City                      0.003237
Description               0.000047
Amenity                   0.000000
Street                    0.000000
Source                    0.000000
Severity                  0.000000
Start_Time                0.000000
End_Time                  0.000000
Start_Lat                 0.000000
Start_Lng                 0.000000
Turning_Loop              0.000000
Distance(mi)              0.000000
Traffic_Signal            0.000000
Side                      0.000000
Bump                      0.000000
County                    0.000000
State                     0.000000
Traffic_Calming           0.000000
Country                   0.000000
Stop                      0.000000
Station                   0.000000
Roundabout                0.000000
Railway                   0.000000
No_Exit                   0.000000
Junction                  0.000000
Give_Way                  0.000000
Crossing                  0.000000
ID                        0.000000
dtype: float64

In [114]:
data1 = data

In [115]:
# deal with the missing data firstly, it's good the target, severity, have no missing data
# drop End_Lat End_Lng Precipitation(in) Wind_Chill(F) Number
data1 = data1.drop(columns=['End_Lat', 'End_Lng' ,'Precipitation(in)', 'Wind_Chill(F)', 'Number'])

In [116]:
data1['TMC']= data1['TMC'].fillna(data1['TMC'].median())

In [117]:
# Wind_Speed(mph)
print(data1['Wind_Speed(mph)'].skew())
print(data1['Wind_Speed(mph)'].kurt())
data1['Wind_Speed(mph)'].describe()
# skewed, fill with median
data1['Wind_Speed(mph)'] = data1['Wind_Speed(mph)'].fillna(data1['Wind_Speed(mph)'].median())

12.105134489682545
1625.4189457893422

In [118]:
#Visibility
print(data1['Visibility(mi)'].skew())
print(data1['Visibility(mi)'].kurt())
data1['Visibility(mi)'].describe()
data1['Visibility(mi)'] = data1['Visibility(mi)'].fillna(data1['Visibility(mi)'].median())

3.4167985735062736
86.54814745928923

In [119]:
#Weather_Condition
data1['Weather_Condition'] = data1['Weather_Condition'].fillna('Fair')

In [120]:
# Humidity
print(data1['Humidity(%)'].skew())
print(data1['Humidity(%)'].kurt())
data1['Humidity(%)'].describe()
# fill with mean
data1['Humidity(%)'] = data1['Humidity(%)'].fillna(data1['Humidity(%)'].mean())

-0.4392109508710671
-0.6687309390286242

In [121]:
#Temperature
print(data1['Temperature(F)'].skew())
print(data1['Temperature(F)'].kurt())
data1['Temperature(F)'].describe()
data1['Temperature(F)'] = data1['Temperature(F)'].fillna(data1['Temperature(F)'].mean())

-0.4510391972985115
-0.05383597208312274

In [122]:
#Wind_Direction
data1['Wind_Direction'] = data1['Wind_Direction'].fillna('CALM')

In [123]:
#Pressure(in)
print(data1['Pressure(in)'].skew())
print(data1['Pressure(in)'].kurt())
data1['Pressure(in)'].describe()
data1['Pressure(in)'] = data1['Pressure(in)'].fillna(data1['Pressure(in)'].median())

-4.3335461972051155
30.970454506341582

In [124]:
#Weather_Timestamp
data1.loc[data1['Weather_Timestamp'].isna(),'Weather_Timestamp']= data1.loc[data1['Weather_Timestamp'].isna(),'Start_Time']

In [125]:
data1 = data1.drop(columns = ['Timezone','Description','Airport_Code'])

In [126]:
data1 = data1[data1['Zipcode'].notna()]

In [127]:
data1 = data1[data1['Sunrise_Sunset'].notna()]

In [128]:
((data1.isna().sum()/len(data1))*100).sort_values(ascending = False)

Astronomical_Twilight    0.0
Pressure(in)             0.0
Temperature(F)           0.0
Weather_Timestamp        0.0
Country                  0.0
Zipcode                  0.0
State                    0.0
County                   0.0
City                     0.0
Side                     0.0
Street                   0.0
Distance(mi)             0.0
Start_Lng                0.0
Start_Lat                0.0
End_Time                 0.0
Start_Time               0.0
Severity                 0.0
TMC                      0.0
Source                   0.0
Humidity(%)              0.0
Visibility(mi)           0.0
Nautical_Twilight        0.0
Wind_Direction           0.0
Civil_Twilight           0.0
Sunrise_Sunset           0.0
Turning_Loop             0.0
Traffic_Signal           0.0
Traffic_Calming          0.0
Stop                     0.0
Station                  0.0
Roundabout               0.0
Railway                  0.0
No_Exit                  0.0
Junction                 0.0
Give_Way                 0.0
Crossing                 0.0
Bump                     0.0
Amenity                  0.0
Weather_Condition        0.0
Wind_Speed(mph)          0.0
ID                       0.0
dtype: float64

In [129]:
new_data = data1.to_csv('new_data.csv')

Deal with features

In [7]:
new_data.index = new_data['ID']

In [10]:
new_data = new_data.drop(columns = ['ID'])

In [12]:
#source
new_data = new_data.drop(columns = ['Source'])

In [13]:
# no use
new_data = new_data.drop(columns = ['Street','Country'])

In [17]:
# categorial data
# 'Street', 'Side','City','State','Country','Wind_Direction','Weather_Condition','Sunrise_Sunset','Civil_Twilight','Nautical_Twilight','Astronomical_Twilight'
new_data['Nautical_Twilight'] = new_data['Nautical_Twilight'].replace({'Day':1,'Night':0})
new_data['Civil_Twilight'] = new_data['Civil_Twilight'].replace({'Day':1,'Night':0})
new_data['Sunrise_Sunset'] = new_data['Sunrise_Sunset'].replace({'Day':1,'Night':0})
new_data['Astronomical_Twilight'] = new_data['Astronomical_Twilight'].replace({'Day':1,'Night':0})

In [36]:
new_data['Side'] =new_data['Side'].replace({'R':1,'L':0,' ':2})

In [41]:
# don't need city, since we have geographic data 
new_data = new_data.drop(columns = ['City','County'])

In [33]:
new_data['Weather_Condition']=new_data['Weather_Condition'].astype('category').cat.codes
new_data['Wind_Direction']=new_data['Wind_Direction'].astype('category').cat.codes
new_data['State']=new_data['State'].astype('category').cat.codes

In [27]:
# boolean
# Amenity	Bump	Crossing	Give_Way	Junction	No_Exit	Railway	Roundabout	Station	Stop	Traffic_Calming	Traffic_Signal	Turning_Loo
bl = ['Amenity',	'Bump','Crossing',	'Give_Way',	'Junction',	'No_Exit',	'Railway',	'Roundabout',	'Station',	'Stop',	'Traffic_Calming','Traffic_Signal',	'Turning_Loop']
for i in bl:
  new_data[i] = new_data[i]*1

In [47]:
# date
new_data['Start_Time'] = pd.to_datetime(new_data['Start_Time'])
new_data['End_Time'] = pd.to_datetime(new_data['End_Time'])
new_data['Weather_Timestamp'] = pd.to_datetime(new_data['Weather_Timestamp'])
# drop weather_timestamp
new_data=new_data.drop(columns = ['Weather_Timestamp'])

In [63]:
new_data['process_time'] = ((new_data['End_Time']-new_data['Start_Time'])/np.timedelta64(1, "s"))/3600
new_data = new_data.drop(columns = ['End_Time'])

In [69]:
#location
new_data['Zipcode'] = new_data['Zipcode'].str[:5].astype(int)

In [70]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4231108 entries, A-1 to A-4239406
Data columns (total 34 columns):
 #   Column                 Dtype
---  ------                 -----
 0   TMC                    float64
 1   Severity               int64
 2   Start_Time             datetime64[ns]
 3   Start_Lat              float64
 4   Start_Lng              float64
 5   Distance(mi)           float64
 6   Side                   int64
 7   State                  int8
 8   Zipcode                int64
 9   Temperature(F)         float64
 10  Humidity(%)            float64
 11  Pressure(in)           float64
 12  Visibility(mi)         float64
 13  Wind_Direction         int8
 14  Wind_Speed(mph)        float64
 15  Weather_Condition      int16
 16  Amenity                int64
 17  Bump                   int64
 18  Crossing               int64
 19  Give_Way               int64
 20  Junction               int64
 21  No_Exit                int64
 22  Railway                int64
 23  Roundabout             int64
 24  Station                int64
 25  Stop                   int64
 26  Traffic_Calming        int64
 27  Traffic_Signal         int64
 28  Turning_Loop           int64
 29  Sunrise_Sunset         int64
 30  Civil_Twilight         int64
 31  Nautical_Twilight      int64
 32  Astronomical_Twilight  int64
 33  process_time           float64
dtypes: datetime64[ns](1), float64(10), int16(1), int64(20), int8(2)
memory usage: 1.2+ GB

In [71]:
new_data.head()

       TMC  Severity  ... Astronomical_Twilight  process_time
ID                    ...
A-1  201.0         3  ...                     0      5.233333
A-2  201.0         2  ...                     1      0.500000
A-3  201.0         2  ...                     1      0.500000
A-4  201.0         3  ...                     1      0.500000
A-5  201.0         2  ...                     1      0.500000

[5 rows x 34 columns]