In [2]:
#clean data 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data=pd.read_csv('US_Accidents_Dec20.csv')

In [3]:
data.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [4]:
# check missing values of each column for training dataset
data.isnull()
data.isnull().sum()

ID                             0
Source                         0
TMC                      1516064
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  2716477
End_Lng                  2716477
Distance(mi)                   0
Description                    2
Number                   2687949
Street                         0
Side                           0
City                         137
County                         0
State                          0
Zipcode                     1292
Country                        0
Timezone                    4615
Airport_Code                8973
Weather_Timestamp          62644
Temperature(F)             89900
Wind_Chill(F)            1896001
Humidity(%)                95467
Pressure(in)               76384
Visibility(mi)             98668
Wind_Direction             83611
Wind_Speed(mph)           479326
Precipitation(in)        2065589
Weather_Condition          98383
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset               141
Civil_Twilight               141
Nautical_Twilight            141
Astronomical_Twilight        141
dtype: int64

In [5]:
len(data)

4232541

In [6]:
# if the number of missing values in the column is greater than half number of the rows, then we could delete this column
data.drop(['End_Lat'], axis=1, inplace=True)
data.drop(['End_Lng'], axis=1, inplace=True)
data.drop(['Number'], axis=1, inplace=True)

In [16]:
# drop insignificant columns 
#data.drop(['Street', 'Airport_Code', 'Source'], axis=1, inplace=True)# drop insignificant columns 
data.drop(['Timezone', 'Civil_Twilight', 'Nautical_Twilight','Astronomical_Twilight'],axis=1, inplace=True)

In [23]:
#data.drop(['Weather_Timestamp'],axis=1, inplace=True)
data.drop(['Side'],axis=1, inplace=True)

In [9]:
data

,ID,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Side,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,0.010,Right lane blocked due to accident on I-70 Eas...,R,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,0.010,Accident on Brice Rd at Tussing Rd. Expect del...,L,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.010,Accident on OH-32 State Route 32 Westbound at ...,R,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.010,Accident on I-75 Southbound at Exits 52 52B US...,R,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.010,Accident on McEwen Rd at OH-725 Miamisburg Cen...,R,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232536,A-4239402,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,0.543,At Market St - Accident.,R,...,False,False,False,False,False,False,Day,Day,Day,Day
4232537,A-4239403,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,0.338,At Camino Del Rio/Mission Center Rd - Accident.,R,...,False,False,False,False,False,False,Day,Day,Day,Day
4232538,A-4239404,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,0.561,At Glassell St/Grand Ave - Accident. in the ri...,R,...,False,False,False,False,False,False,Day,Day,Day,Day
4232539,A-4239405,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,R,...,False,False,False,False,False,False,Day,Day,Day,Day
4232540,A-4239406,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,0.537,At Highland Ave/Arden Ave - Accident.,R,...,False,False,False,False,False,False,Day,Day,Day,Day

In [10]:
data['TMC'].fillna(data['TMC'].mean(),inplace=True)

In [11]:
data['City'].fillna(data['City'].mode(),inplace=True)

In [13]:
data['Zipcode'].fillna(data['Zipcode'].mode(),inplace=True)

In [18]:
for column in ['Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)','Pressure(in)', 'Visibility(mi)','Wind_Speed(mph)','Precipitation(in)']:
    data[column].fillna(data[column].mean(), inplace=True)

In [20]:
for column in ['Weather_Condition', 'Wind_Direction', 'Sunrise_Sunset']:
    data[column].fillna(data[column].mode()[0], inplace=True)

In [22]:
data

,ID,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Side,...,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,A-1,201.000000,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,0.010,Right lane blocked due to accident on I-70 Eas...,R,...,False,False,False,False,False,False,False,False,False,Night
1,A-2,201.000000,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,0.010,Accident on Brice Rd at Tussing Rd. Expect del...,L,...,False,False,False,False,False,False,False,False,False,Night
2,A-3,201.000000,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.010,Accident on OH-32 State Route 32 Westbound at ...,R,...,False,False,False,False,False,False,False,True,False,Night
3,A-4,201.000000,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.010,Accident on I-75 Southbound at Exits 52 52B US...,R,...,False,False,False,False,False,False,False,False,False,Night
4,A-5,201.000000,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.010,Accident on McEwen Rd at OH-725 Miamisburg Cen...,R,...,False,False,False,False,False,False,False,True,False,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232536,A-4239402,208.351719,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,0.543,At Market St - Accident.,R,...,False,False,False,False,False,False,False,False,False,Day
4232537,A-4239403,208.351719,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,0.338,At Camino Del Rio/Mission Center Rd - Accident.,R,...,False,False,False,False,False,False,False,False,False,Day
4232538,A-4239404,208.351719,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,0.561,At Glassell St/Grand Ave - Accident. in the ri...,R,...,True,False,False,False,False,False,False,False,False,Day
4232539,A-4239405,208.351719,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,R,...,False,False,False,False,False,False,False,False,False,Day
4232540,A-4239406,208.351719,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,0.537,At Highland Ave/Arden Ave - Accident.,R,...,False,False,False,False,False,False,False,False,False,Day

In [ ]:
result= data
result.to_csv('Cleaned data from Sophia')